.reservationForm {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  transition: background-color 0.3s ease, color 0.3s ease;
}

.formRow {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.submitBtn {
  margin-top: 20px;
  font-weight: 600;
  border-radius: 8px;
  text-transform: none;
}
