/* styles.module.scss */

.container {
  position: relative; /* cực kỳ quan trọng cho Image fill */
  width: 100vw;
  height: 60vh; /* chiều cao slide */
  overflow: hidden;
}

.imageWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.slideImage {
  position: relative; /* bắt buộc để Image fill hiển thị */
  min-width: 100%;
  height: 60vh;
}

.overlay {
 // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* ví dụ overlay */
}

.dotWrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}

.dot.active {
  opacity: 1;
}
