.footer {
  background-color: #111;
  color: #fff;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.section {
  display: flex;
  flex-direction: column;
}

.divider {
  background-color: gray;
  margin-bottom: 1rem;
}

.link {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 0.5rem;
  text-decoration: none;

  &:hover {
    color: #f39c12;
  }
}

.icon {
  margin-right: 0.5rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.facebook {
  color: #1877f2 !important;
}

.tiktok {
  color: #fff !important;
}

.opening {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
