name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  push_to_registry:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push FE SmartTasty
        uses: docker/build-push-action@v5
        with:
          context: ./ # root repo FE
          file: ./Dockerfile # Dockerfile FE
          push: true
          tags: quanghau123/fe-smarttasty:latest
          build-args: |
            NEXT_PUBLIC_API_BASE_URL=https://api.smart-tasty.io.vn
            NEXT_PUBLIC_WEBSOCKET_URL=https://socket.smart-tasty.io.vn
            NEXT_PUBLIC_CHATBOT_URL=https://chatbot.smart-tasty.io.vn
            NEXT_PUBLIC_SOCKET_URL=https://socket.smart-tasty.io.vn/hubs/notification
            NEXT_PUBLIC_ENV=production
