name: Docker Image CI

on:
  push:
    branches: [ "main" ] # hoặc master, tùy repo 
  pull_request:
    branches: [ "main" ]

jobs:
  push_to_registry:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push FE SmartTasty
        uses: docker/build-push-action@v5
        with:
          context: ./          # root repo FE
          file: ./Dockerfile   # Dockerfile FE
          push: true
          tags: quanghau123/fe-smarttasty:latest

